#minha-div{
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    background-color: brown;
}

@media screen and (min-width: 360px) {
    #minha-div{
        background-color: blue;
        height: 20vh;
    }
}

@media screen and (min-width: 375px) {
    #minha-div{
        background-color: yellow;
        height: 20vh;
    }
}

@media screen and (min-width: 410px) {
    #minha-div{
        background-color: green;
        height: 20vh;
    }
}

@media screen and (min-width: 992px) {
    #minha-div{
        background-color: aquamarine;
        height: 20vh;
    }

    #outra-div{
        display: block;
    height:3rem;
    width: 80%;
    margin: 0 auto;
    background-color: hotpink;


    }
}


@media screen and (min-width: 1400px) {
    #minha-div{
        background-color: darkcyan;
        height: 20vh;
    }
}


