html {
    font-size: 20px; /* px means "pixels": the
    base font size is now 10 pixels high */
     font-family: "Merriweather", sans-serif; /* this
    should be the rest of the output you got
    from Google fonts */
    }
    h1{
         color: red;
         background-color: blue;
         min-height: 5rem;
         font-size: 18px;
         
         }
         
            #fixa{
                width: 30px;
                height: 2rem;
                background-color: blue;
                
            }

            #relativa{
                width: 30vw;
                height: 2rem;
                background-color: black;
                color: white;
            }
            
        span {
            background-color: lightsteelblue;
            color:red;
            font-weight:bold;

         }
         